appdirs
Brotli
certifi
chardet
charset-normalizer
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
distlib
filelock
Flask
Flask-Compress
future
gunicorn
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
platformdirs
plotly
python-dateutil
pytz
requests
retrying
six
tenacity
urllib3
virtualenv
Werkzeug
zipp
